<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="cleartype" content="on">
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#FFF">
        <title>Projeto Dribbble</title>

        <!--[if lte IE 9]>
            <script src="lib/html5.min.js"></script>
        <![endif]-->
        <link href="/dist/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body ng-controller='shotsController'>
    <main>
        <header class='wrapper'>
          <ul>
            <li>
              <a href="/">Projeto Dribbble</a>
            </li>
        </header>

        <section class='shots'>
          <h1>Shots</h1>

          <form>
            <input type="text" name="search" value="" ng-model="item.query.title" required/>
            <label class="placeholder" for='search'>Pesquisar por titulo</label>
          </form>

          <button class='switch desktop'>
            <i class="material-icons icon icon-1">photo_size_select_actual</i>
            <i class="material-icons icon icon-2 disable">photo_size_select_large</i>
          </button>

          <ul class='shots-list'>
            <li ng-repeat="item in shotsList | filter: item.query | orderBy: name">
              <div class="thumb-wrapper" ng-click='openShot(item.id)'>
                <img ng-src='{{item.images.normal}}' class='thumb'/>

                <div class="shot-info">
                  <p class='title'>{{item.title}}</p>
                  <div class="description" ng-bind-html="item.description"></div>
                </div>
              </div>

              <div class='shot-stats'>
                <div>
                  <i class="material-icons icon">remove_red_eye</i>
                  <span class='count'>{{item.views_count}}</span>
                </div>
                <div>
                  <i class="material-icons icon">mode_comment</i>
                  <span class='count'>{{item.comments_count}}</span>
                </div>
                <div>
                  <i class="material-icons icon">favorite</i>
                  <span class='count'>{{item.likes_count}}</span>
                </div>
              </div>

              <div class='author-info'>
                <img ng-src='{{item.user.avatar_url}}'/>
                <a ng-href='{{item.user.html_url}}' target='_blank'>
                  {{item.user.name}}
                </a>
              </div>
            </li>
          </ul>
        </section>

        <section class="popup">
          <div class="container">
              <div class="inner-content">
                 <button class='close' ng-click='closeShot()'>Fechar</button>

                  <div class="wrapper">
                    <ul class='shots-list'>
                      <li>
                        <div class="thumb-wrapper">
                          <img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAJYCAMAAACtqHJCAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAehJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8GFXBAAFNIxWUAAAAAElFTkSuQmCC' class='transparent-img'/>

                          <img ng-src='{{shot.images.hidpi}}' class='thumb'/>

                          <button class='like' ng-click='likeShot(shot.id)'>
                            <i class="material-icons icon" ng-class='{ liked: shot.liked }'>favorite</i>
                          </button>
                        </div>

                        <div class='shot-stats'>
                          <div>
                            <i class="material-icons icon">remove_red_eye</i>
                            <span class='count'>{{shot.views_count}}</span>
                          </div>
                          <div>
                            <i class="material-icons icon">mode_comment</i>
                            <span class='count'>{{shot.comments_count}}</span>
                          </div>
                          <div>
                            <i class="material-icons icon">favorite</i>
                            <span class='count'>{{shot.likes_count}}</span>
                          </div>
                        </div>

                        <div class='author-info'>
                          <img ng-src='{{shot.user.avatar_url}}'/>
                          <a ng-href='{{shot.user.html_url}}' target='_blank'>
                            {{shot.user.name}}
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
        </section>
    </main>

    <script type="text/javascript" src="/dist/js/compressed.js"></script>
    <script type="text/javascript" src="/dist/js/scripts.js"></script>
</body>
</html>
